div{ display: block; 
    background-color: lightgrey;
    padding: 3px; }
a {
    font-family: sans-serif;
    font-size: .8em;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
} 
a:hover {
    background-color: darkgray;
    color: white;
}
.active{
    font-weight: bold;
}