<div class='boxed'>
  <h3>{{title}}</h3>
  <div class='search' >
  <input type=text class="form-control" [(ngModel)]='searchTerm' placeholder='enter search term' />
  <br/>
  <input type=checkbox  value=false id="apply" (change)='onChange($event)' [(ngModel)]='applySearch' />
  <label for=apply >Apply Search</label>

  <input type=checkbox value=false id="showcomp" (change)='onChange($event)' [(ngModel)]='showCompleted' />
  <label for=showcomp >Show Completed</label>
  
  </div>
  <div class=scroll >
    <div class="border">
      <ul>
        <li *ngFor='let item of 
                    (todolist | search: searchTerm: "title": applySearch
                     |filter : showCompleted ); let i = index;'>
            <a [routerLink]="['/edit', item.id]" 
               routerLinkActive='active' 
               [ngClass] = '{todo: !item.done, done: item.done }' >
              {{item.id|number:"3.0-0"}}:&nbsp;{{item.title}}
            </a>
        </li>
      </ul>
    </div>
  </div>
  <div style="background-color:lightgrey;padding:3px;" >
    <button [routerLink]="['/add']" >Add Task</button>
    <span [routerLink]="['/login']" style="float:right;">User: {{auth.getUser()}}</span>
  </div>
</div>