.scroll {
    height: 200px;
    background-color: lightgrey;
    padding-left: 5px;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:black
}      

.search{
    background-color: lightgrey;
    padding: 5px;
    font-size: .8em;
}
.todo{
    color: blue;
}
.done{
    color: blue;
    text-decoration: line-through;
}
