<div class='boxed'>
  <h3>Add Task</h3>
  <table>
    <tr>
      <td class=right>Title:</td>
      <td><input type=text class="form-control" [(ngModel)]='item.title' /></td>
    </tr>
    <tr>
      <td class=right>Done:</td>
      <td><input type=checkbox [(ngModel)]='item.done' /></td>
    </tr>
    <tr>
      <td class=right>Due:</td>
      <td><input type=text class="form-control" [(ngModel)]='item.due' /></td>
    </tr>
    <tr>
      <td class=right>Desc:</td>
      <td><textarea class="form-control" cols="30" rows="5" spellcheck=false [(ngModel)]='item.description'></textarea>
      </td>
    </tr>
  </table>
  <div style="background-color:lightgrey;padding:3px;" >
    <button class="btn btn-primary" (click)="onAdd()">Save</button>
    <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
  </div>
</div>