/* You can add global styles to this file, and also import other style files */
body{font-family: sans-serif; margin:0px; width:358px;}
h1, h2, h3 { margin: 0px; padding: 5px; }
h3{ background-color: lightgray;}
.boxed { border: 1px solid darkgray;}
ul{ list-style: none; 
    padding-left:10px;
    background-color: white;
    padding-right: 5px;
    height:185px;
    margin: 5px 5px 5px 0px; }
li{ padding: 0px; }
p{margin:0px;}
.app-height{height: 300px;}
.toast{
    background-color:blanchedalmond;
    border-radius: 5px;
    border: 1px solid darkgrey;
    position: absolute;
    top: 200px;
    left: 50px;
    width: 200px;
    padding:5px;
}